html{
    box-sizing: border-box;
}
*, 
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
li,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
button{
    cursor: pointer;
    border: none;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $text;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.title{
    font-size: 30px;
    background-color: #fff;
    color: #000;
    padding: 30px;
    border-radius: 5px;
    @include shadow;
}
.top-title{
    font-size: 36px;
    margin-bottom: 20px;
    span{
        color: $blue;
    }
}
.top-text{
    color: #555;
    margin-bottom: 55px;
    line-height: 25px;
    max-width: 680px;
}

.btn{
    color: $light-grey;
    font-size: 15px;
    line-height: 30px;
    background-color: $light-bg;
    padding: 0 15px;
    border-radius: 20px;
}
.item-title{
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin-bottom: 15px;
}
.blue-btn{
    background-color: #e6f1fd;
    color: $blue;
    padding: 0 15px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 30px;
    transition: all .3s;
}
.blue-btn:hover{
    background-color: $blue;
    color: #fff;
    font-weight: 500;
}
.item{
    max-width: 361px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    @include shadow;    
}
.light-btn{
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    padding:15px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all .4s;
}
.light-btn:hover{
    background-color: #fff;
    color: $blue;
}
