$light-bg: #eef1f3;
$grey-bg: #f6f7fb;
$blue: #0674ec;
$violet: #7347c1;
$text: #333;
$dark-grey: #7c7979;
$light-grey: #868c96;
$border-color: #d9dfe5;
$dark-bg: #212225;

@mixin shadow {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
@mixin big-shadow {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}
@mixin btn-hover {
    background-color: $blue;
    color: #fff;
    font-weight: 500;
}
